# Core API
fastapi
uvicorn
pydantic

# Deep Learning
torch>=2.0.0
transformers
sentence-transformers

# Data Processing
datasets
pandas
numpy
scikit-learn

# NLP & Text Processing
docling
rank_bm25
spacy
nltk
fasttext-wheel

# Visualization
matplotlib
seaborn

# pyproject.toml 
-e .

# Utilities
python-dotenv
tqdm
groq



fastapi
uvicorn[standard]
pydantic